@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    background-color: #E4E5E2;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}
#cart{
    #add{
        background-color: aquamarine;
    }
    #clear{
        background-color: red;
    }
    #search{
        width: 100%;
        margin-bottom: 10px;
        #search-bar{
            width: 64%;
        }
        input{
            width: 15%;
            padding: 5px;
        }
    }
    #order{
        background-color: white;
        border: 2px solid black;
        overflow: scroll;
        overflow-x: hidden;
        table{
            width: 100%;
            border-collapse: collapse;
            border-bottom: 1px solid gray;
            th{
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
            }
            td{
                border-right: 1px solid gray;
                padding: 0 5px;
            }
            .qty{
                text-align: center;
                min-width: 30px;
            }
            .price{
                min-width: 100px;
            }
            .delete-button{
                text-align: center;
                width: 20px;
                border: 1px solid gray;
                a{
                    color: red;
                    text-decoration: none;
                }
            }
        }
    }
    #checkout{
        margin-top: 1em;
        text-align: center;
        input{
            margin: 5px;
        }
        #checkout-button{
            padding: 5px;
            background-color: green;
        }
    }
}
#inventory{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    input{
        padding: 5px;
        width: 200px;
        margin-top: 1em;
        background-color: burlywood;
    }
}

/* Small phones */
@media only screen and (max-width: 600px) {
    html{
        font-size: 20px;
    }
    #cart{
        width: 90%;
        min-width: 380px;
        margin: 0 auto;
        #order{
            width: 100%;
            margin: 0 auto;
            height: 400px;
            /* .item-name{
                overflow: hidden;
                overflow-wrap: break-word;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                white-space: nowrap;
            } */
        }
    }
}

/* Larger phones, portrait tablets */
@media only screen and (min-width: 600px) {
    html{
        font-size: 20px;
    }
    #cart{
        #order{
            height: 550px;
        }
    }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
    html{
        font-size: 18px;
    }
    #inventory{
        form{
            display: inline-block;
        }
    }
}

/* Large devices (bigger tablet, laptops, smaller monitors) */
@media only screen and (min-width: 992px) {
    #inventory{
        form{
            margin: 1em;
        }
    }
}

/* Larger monitors */
@media only screen and (min-width: 1180px) {
    #cart{
        width: 65%;
        display: inline-block;
        vertical-align: middle;
        #search{
            width: 100%;
            #search-bar{
                width: 63%;
            }
            input{
                width: 15%;
                padding: 10px;
            }
        }
        #order{
            width: 100%;
            min-height: 400px;
        }
    }
    #inventory{
        width: 25%;
        margin: 0 auto;
        display: inline-block;
        input{
            padding: 5px;
        }
    }
}