@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    background-color: #E4E5E2;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}
#cart{
    p{
        margin-left: 10px;
    }
    #add, #checkout-button{
        background-color: aquamarine;
    }
    #clear, #discard-button{
        background-color: red;
    }
    #search{
        width: 83%;
        margin-bottom: 10px;
        display: inline-block;
        #suggestions, #text-container{
            display: inline-block;
        }
        #suggestions{
            width: 80%;
            margin-right: 10px;
        }
        #text-container, #search-bar{
            width: 99%;
        }
        input{
            width: 15%;
            padding: 5px;
        }
    }
    #clear{
        width: 15%;
        padding: 5px;
    }
    #order{
        background-color: white;
        border: 2px solid black;
        overflow: scroll;
        overflow-x: hidden;
        table{
            width: 100%;
            border-collapse: collapse;
            border-bottom: 1px solid gray;
            th{
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;
            }
            td{
                border-right: 1px solid gray;
                padding: 0 5px;
            }
            .qty{
                text-align: center;
                min-width: 30px;
                p{
                    margin: 0;
                }
                input{
                    width: 65px;
                    text-align: center;
                    border: none;
                }
            }
            .price{
                min-width: 100px;
            }
            .delete-button{
                width: 20px;
                border: 1px solid gray;
                input{
                    color: red;
                    background-color: white;
                    border: none;
                }
            }
            #total{
                border-top: 1px solid gray;
                #total_heading{
                    font-weight: bold;
                    text-align: center;
                }
                #space{
                    border-right: none;
                }
            }
        }
    }
    #checkout{
        margin-top: 1em;
        text-align: center;
        input{
            margin: 5px;
        }
        #checkout-button, #discard-button{
            padding: 5px;
        }
    }
}
#inventory{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    input, button{
        padding: 5px;
        width: 200px;
        margin-top: 1em;
        background-color: burlywood;
    }
}
#popup{
    display: none;
    position: absolute;
    width: 375px;
    padding: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #c6c7c4;
    border: 1px solid gray;
    border-radius: 5px;
    h2{
        text-align: center;
        margin: 10px;
    }
    p{
        margin: 0;
        font-size: smaller;
        font-style: italic;
        color: red;
    }
    form{
        select, #closest_exp_date{
            width: 235px;
            display: block;
        }
        #price, #discounted_price, #stocks{
            width: 100px;
        }
    }
}

/* Small phones */
@media only screen and (max-width: 600px) {
    html{
        font-size: 20px;
    }
    #cart{
        width: 90%;
        min-width: 380px;
        margin: 0 auto;
        #order{
            width: 100%;
            margin: 0 auto;
            height: 400px;
            /* .item-name{
                overflow: hidden;
                overflow-wrap: break-word;
                text-wrap: nowrap;
                text-overflow: ellipsis;
                white-space: nowrap;
            } */
        }
    }
}

/* Larger phones, portrait tablets */
@media only screen and (min-width: 600px) {
    html{
        font-size: 20px;
    }
    #cart{
        #order{
            height: 550px;
        }
    }
}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
    html{
        font-size: 18px;
    }
    #inventory{
        button{
            display: inline-block;
        }
    }
}

/* Large devices (bigger tablet, laptops, smaller monitors) */
@media only screen and (min-width: 992px) {
    #inventory{
        button{
            margin: 1em;
        }
    }
}

/* Larger monitors */
@media only screen and (min-width: 1180px) {
    html{
        padding-right: 0;
    }
    #cart{
        width: 65%;
        display: inline-block;
        vertical-align: top;
        #search{
            #suggestions{
                margin-right: 20px;
            }
            input{
                padding: 10px;
            }
        }
        #clear{
            padding: 10px;
        }
        #order{
            width: 100%;
            min-height: 400px;
        }
    }
    #inventory{
        width: 34%;
        margin: 0 auto;
        display: inline-block;
        padding-top: 100px;
        button{
            display: block;
            padding: 25px 15px;
            margin: 1em auto;
        }
    }
}